html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

.navbar-brand {
    font-family: 'Festive', cursive;
    font-size: 36px !important;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333333

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #16474F;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #F72722;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.sectionTitle h1 {
    text-decoration: underline;
}

.navigation {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%
}

.navbar {
    position: fixed;
}

#navbarNav a {
    color:#16474F;
}

#navbarNav a:hover {
    color:#F72722;
}

.hobbyPages {
    margin-top: 120px;
}

.nav-tabs a {
    color: #164747;
}

.nav-tabs a:hover {
    color: #f72722;
}

a.nav-link.active {
    background-color: #b6e5e5 !important;
}

a {
    color: #F72722;
    text-decoration: none;
}

.navbar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400; 
    padding: 8px;
}

.sectionTitle {
    text-align: left;
    margin: 24px;
}

.content {
    height: auto;
    width: 1000px;
}

.gettingStarted {
    margin-bottom: 48px;
    margin-left: 24px;
    margin-right: 24px;
}

.smallPhotos {
    margin-top: 48px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 48px;
}

button {
    background-color:#16474F; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #F72722;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
}

.mainContent {
    min-height: 100vh;
    position: relative;
    padding-bottom: 110px;
    overflow: hidden;
}

.secondaryHobby {
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 150px;
}

.overviewContainer {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 48px;
    margin-right: 24px;
}

.overviewContainer img {
    max-height: 800px;
    width: auto;
}

.containerImage {
    flex-basis: 40%;
    margin-left: 24px;
}

.containerText {
    padding: 20px;
}

.viewAll {
    margin-left: 24px;
}


.marginTop {
    margin-top: 100px;
}


footer {
    position: absolute;
    height: 120px;
    bottom: 0px;
    padding: 1%;
    width: 100%;

}



footer a {
    color: white;
}

footer a:hover {
    color: #469EBA;
}

@media only screen and (max-width: 600px) {
    .heroImg {
        height: auto;
    }
    .content {
        width: 400px;
    }
    .pic-left {
        float:none;
        margin: 8px;
    }
    .mySkills {
        height: auto;
    }
    .flexContainer {
        flex-direction: column;
    }
    .skillsCard {
        width: 100%;
    }
    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas: 
        "imageRight1" 
        "textLeft1"
        "imageRight2" 
        "textLeft2"
        "imageRight3" 
        "textLeft3"
        ;
    }
    .textLeft1 {
        width: 400px;
    }
    .textLeft2 {
        width: 400px;
    }    
    .textLeft3 {
        width: 400px;
    }
    .projectsButton {
        width: 400px;
    }
}